<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "bs-docs-example form-horizontal"}) do |f| %>
  <div class="control-group">
    <div class="controls">
      <h2>Sign in</h2>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
     <% if devise_mapping.rememberable? -%>
      <label class="checkbox">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </label>
      <% end -%>
      <%= f.submit "Sign in", :class => "btn" %>
    </div>
  </div>
<% end %>
