<%= form_for([:admin, @admin_category], :html => {:class => "bs-docs-example form-horizontal nf_detail_backend"}) do |f| %>
  <% if @admin_category.errors.any? %>
    <div class="control-group error">
      <h2><%= pluralize(@admin_category.errors.count, "error") %> prohibited this admin_movie from being saved:</h2>
      <ul>
      <% @admin_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <label class="control-label" for="input"><span class="s_validation">*</span>Tên thể loại</label>
    <div class="controls">
      <%= f.text_field :name%>
      <span class="help-inline">Không được trống</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="input">Hot</label>
    <div class="controls">
      <%= f.check_box :hot%>
    </div>
  </div>
  <div class="form-actions">
     <%= f.submit "Save", :class => "btn btn-primary" %>
     <%= link_to "Cancel", admin_servers_path, :class => "btn" %>
   </div>
<% end %>
