<!DOCTYPE html>
<html>
	<%= render :partial => "/layouts/head_tag"%>
	<body>
		<div id="fwrapper">
			<%= render :partial => "/layouts/header"%>
			<div id="fcontent" class="span17">
				<div id="fmiddle" class="span11 f_middle">
					<%= yield %>
				</div>
				<div id="fright" class="span6">
					<%= render :partial => "/layouts/right"%>
				</div>
				<div id="footer" class="span17">
					<span>Copyright © 2013 <%= link_to "X Vs Nik", "https://www.facebook.com/niick7", :target => "_blank"%>. All rights reserved.</span>
				</div>	
			</div>
   <script type="text/javascript"><!--
   google_ad_client = "ca-pub-0171875965361971";
   /* sura18com */
   google_ad_slot = "9389324437";
   google_ad_width = 728;
   google_ad_height = 90;
   //-->
   </script>
   <script type="text/javascript"
   src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
   </script>
		</div>
	</body>
</html>
